﻿<! doctype html>


<head>

    <meta charset="utf-8"/>
    <title>Cenniki</title>
    <link rel="shortcut icon" type="img/png" href="img/favicon/Untitled-5.png"/>
    <link rel="stylesheet" type="text/css" href="Style.css"/>

</head>

<body>
    
    <div id="main-menu">
        <ul>
            <a href="index.html"><li class="inline-block">Fabryka Mrówek</li></a>
            <a href="Gatunki_mrowek.html" ><li class="inline-block">Gatunki naszych mrówek</li></a>
            <a href="Ulepszenia.html"><li class="inline-block">Ulepszenia mrówek</li></a>
            <a href="Skomponuj_swoja_mrowke.html"><li class="inline-block">Skomponuj swoją mrówkę</li></a>
            <li class="inline-block-active">Cenniki</li>
            <a href="Kontakt.html"><li class="inline-block">Skontaktuj się z nami!</li></a>
        </ul>
    </div>
    
    <table id="ant-prices" style="width: 60%">
        <tr>
            <th>Rodzaje Mrówek</th>
            <th class="price">Cena (szt)</th>
        </tr>
        <tr>
            <td>Mrówka czarna</td>
            <td class="price">3,08 zł</td>
        </tr>
        <tr>
            <td>Mrówka niebieska</td>
            <td>5,15 zł</td>
        </tr>
        <tr>
            <td>Mrówka żółta</td>
            <td>2,45 zł</td>
        </tr>
        <tr>
            <td>Mrówka czerwona</td>
            <td>1,59 zł</td>
        </tr>
        <tr>
            <td>Mrówka zielona</td>
            <td>2,32 zł</td>
        </tr>
        <tr>
            <td>Aksamitna mrówka biała</td>
            <td>8,57 zł</td>        
        </tr>
        <tr>
            <td>Aksamitna mrówka czerwona</td>
            <td>7,94 zł</td>
        </tr>
        <tr>
            <td>Mrówka złota</td>
            <td>9,98 zł</td>
        </tr>
        <tr>
            <td>Mrówka cesarska</td>
            <td>12,64 zł</td>
        </tr>
        <tr>
            <td>Mrówka bombowiec</td>
            <td class="price">7,31 zł</td>
        </tr>
    </table>
    <table id="table-upgrade" style="width: 60%">
        <tr>    
            <th>Upgrade</th>
            <th class="price">Cena</th>
        </tr>
        <tr>
            <td>Szczękoczółki</td>
            <td class="price">10,11 zł</td>
        </tr>
        <tr>
            <td>Dodatkowa para odnóży</td>
            <td class="price">8,31 zł</td>
        </tr>
        <tr>
            <td>Hełm</td>
            <td>9,45 zł</td>
        </tr>
        <tr>
            <td>Buty pancerne</td>
            <td>9,28 zł</td>
        </tr>
        <tr>
            <td>Tytanowy pancerz</td>
            <td>25,89 zł</td>
        </tr>
        <tr>
            <td>Kamizelka kuloodporna</td>
            <td>7,37 zł</td>
        </tr>
        <tr>
            <td>Lasery z oczu</td>
            <td>40,28 zł</td>
        </tr>
        <tr>
            <td>Działo laserowe</td>
            <td>50,76 zł</td>
        </tr>
        <tr>
            <td>Antena satelitarna</td>
            <td>13,21 zł</td>
        </tr>
        <tr>
            <td>GPS/GLONASS</td>
            <td>3,90 zł</td>
        </tr>
        <tr>
            <td>Modem 4G</td>
            <td>7,43 zł</td>
        </tr>
        <tr>
            <td>Modem 5G</td>
            <td>25,34 zł</td>
        </tr>
        
        <tr>
            <td>Śmigło</td>
            <td>6,30 zł</td>
        </tr>
        
    </table>
    
    

</body>