﻿<! doctype html>


<head>

    <meta charset="utf-8"/>
    <title>Gatunki Mrówek</title>
    <link rel="shortcut icon" type="img/png" href="img/favicon/Untitled-5.png"/>
    <link rel="stylesheet" type="text/css" href="Style.css"/>

</head>


<body>
    
    <div id="main-menu">
        <ul>
            <a href="index.html"><li class="inline-block">Fabryka Mrówek</li></a>
            <li class="inline-block-active">Gatunki naszych mrówek</li>
            <a href="Ulepszenia.html"><li class="inline-block">Ulepszenia mrówek</li></a>
            <a href="Skomponuj_swoja_mrowke.html"><li class="inline-block">Skomponuj swoją mrówkę</li></a>
            <a href="Cenniki.html" ><li class="inline-block">Cenniki</li></a>
            <a href="Kontakt.html"><li class="inline-block">Skontaktuj się z nami!</li></a>
        </ul>
    </div>
    
    
    <div class="text-color">
        <div class="box black-ant">
            <div class="center-image">
                <img src="img/gatunki/black_ant.png" alt="Black_ant">
                <h2>Czarna Mrówka</h2>
                <p>To jest jadowita czarna mrówka, trzeba na nią uważać!</p>
            </div>
        </div>
    
        <div class="box blue-ant">
            <div class="center-image">
                <img src="img/gatunki/blue_ant_flying.png" alt="Blue_ant">
                <h2>Niebieska mrówka</h2>
                <p>To niebieska mrówka afrykańska</p>
            </div>    
        </div>
    
        <div class="box yellow-ant">
            <div class="center-image">
                <img src="img/gatunki/yellow_ant.png" alt="Yellow_ant">
                <h2>Żółta mrówka</h2>
                <p>Mrówka żółta lubi siedzieć pod kamieniami w parkach i lasach</p>
            </div>    
        </div>
        <div class="box red-ant">
            <div class="center-image">
                <img src="img/gatunki/perfect_ant.png" alt="Red_ant">
                <h2>Czerwona mrówka</h2>
                <p>To zwykła pospolita czerwona mróweczka</p>
            </div>    
        </div>

        <div class="box green-ant">
            <div class="center-image">
                <img src="img/gatunki/green_ant.png" alt="Green_ant">
                <h2>Zielona mrówka</h2>
                <p>Mrówka zielona kocha spędzać czas na drzewach</p>
            </div>    
        </div>
        <div class="box white-ant">
            <div class="center-image">
                <img src="img/gatunki/white_velvet_ant3.png" alt="White_velvet_ant">
                <h2>Aksamitna mrówka biała</h2>
                <p>Jest niezwykle groźna! Jej jad jest śmiertelny!</p>
            </div>    
        </div>

         <div class="box velvet-red-ant">
            <div class="center-image">
                <img src="img/gatunki/velvet_ant_2.png" alt="Cow_killer">
                <h2>Aksamitna mrówka czerwona</h2>
                <p>To niesławny cichy zabójca! Jej drugie imię to 'Cow Killer'! Strzeż się jej!</p>
            </div>    
        </div>
        <div class="box gold-ant">
            <div class="center-image">
                <img src="img/gatunki/gold_ant.png" alt="Gold_ant">
                <h2>Mrówka złota</h2>
                <p>To niezwykły okaz wśród mrówek! Jest niczym klejnot wśród źdźbeł trawy</p>
            </div>    
        </div>

        <div class="box emperor-ant">
            <div class="center-image">
                <img src="img/gatunki/antie5.png" alt="Emperor_ant">
                <h2>Mrówka Cesarska</h2>
                <p>Zjawiskowa mrówka cesarska! Niezwykły okaz pochodzący z rejonu Azji!</p>
            </div>    
        </div>
        <div class=" box bomber-ant">
            <div class="center-image">
                <img src="img/gatunki/ant_flying.png" alt="Bomber_ant">
                <h2>Mrówka bombowiec</h2>
                <p>Ten okaz jest wyposażony w mikro bomby które precyzyjnie zrzuca na wroga!</p>
            </div>    
        </div>
    </div>
    
    

</body>