﻿<! doctype html>

<head>

    <meta charset="utf-8"/>
    <title>Skontaktuj sie z nami!</title>
    <link rel="shortcut icon" type="img/png" href="img/favicon/Untitled-5.png"/>
    <link rel="stylesheet" type="text/css" href="Style.css"/>

</head>


<body>
    
    <div id="main-menu">
        <ul>
            <a href="index.html"><li class="inline-block">Fabryka Mrówek</li></a>
            <a href="Gatunki_mrowek.html" ><li class="inline-block">Gatunki naszych mrówek</li></a>
            <a href="Ulepszenia.html"><li class="inline-block">Ulepszenia mrówek</li></a>
            <a href="Skomponuj_swoja_mrowke.html"><li class="inline-block">Skomponuj swoją mrówkę</li></a>
            <a href="Cenniki.html" ><li class="inline-block">Cenniki</li></a>
            <li class="inline-block-active">Skontaktuj się z nami!</li>
        </ul>
    </div>
    <div id="address">
        <div class="address-box">
            <div class="address-pic">
                <img src="img/icon/domek_icon.png">
            </div>
        </div>
        <h3>ul.Mrówkowa 9 <br> 39-505 Poznań</h3>
        <div class="address-box">
            <div class="address-pic">
                <img src="img/icon/malpa_icon.png">
            </div>    
        </div>
        <h3>fabryka_mrowek9@gmail.com</h3>
        <div class="address-box">
            <div class="address-pic">
                <img src="img/icon/phone_icon.png">
            </div>
        </div>
        <h3>608 213 709</h3>
    </div>
    
            

    

</body>