﻿<! doctype html>


<head>

    <meta charset="utf-8"/>
    <title>Skomponuj swoją mrówkę</title>
    <link rel="shortcut icon" type="img/png" href="img/favicon/Untitled-5.png"/>
    <link rel="stylesheet" type="text/css" href="Style.css"/>

</head>

    <body>
    
    <div id="main-menu">
        <ul>
            <a href="index.html"><li class="inline-block">Fabryka Mrówek</li></a>
            <a href="Gatunki_mrowek.html" ><li class="inline-block">Gatunki naszych mrówek</li></a>
            <a href="Ulepszenia.html"><li class="inline-block">Ulepszenia mrówek</li></a>
            <li class="inline-block-active">Skomponuj swoją mrówkę</li>
            <a href="Cenniki.html" ><li class="inline-block">Cenniki</li></a>
            <a href="Kontakt.html"><li class="inline-block">Skontaktuj się z nami!</li></a>
        </ul>
    </div>
        
            

    
    

</body>