body{ 
            font-family: tahoma;
            text-decoration-color: black;
            background-color: blanchedalmond;
            background-image: linear-gradient (#f9d959, #211d0c);
}

/*Control main menu*/
#main-menu{
            width: auto;
            text-decoration: none;
            margin-left: 48px;
                              
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.inline-block{
    display: inline-block;
    margin: 20px 50px 0 15px;
    font-family: consolas;
    font-size: 12px;
    border: 1px #fff solid ;
    padding: 7px 8.5px 7px;
    border-radius: 10px;
}

.inline-block:hover{
    background-color: #fdf8eb;
    color: cadetblue;
}

.inline-block-active{
    display: inline-block;
    margin: 20px 50px 0 15px;
    font-family: consolas;
    font-size: 12px;
    border: 1px #fff solid ;
    padding: 7px 8.5px 7px;
    border-radius: 10px;
    background-color: #fdf8eb;
    color: cadetblue;
}

/*Conrol Main Page*/

.header {
    color: #b07709;
    position: relative;
    /*text-align: center;*/
    margin: 40px 55px 60px;
    padding: 0.1px;
    display: inline-block;
    font-size: 70px;
    text-transform: uppercase;
    word-spacing: 12px;
    letter-spacing: 10px;
    border: 4px dotted #94340f;
    
}

.ant-pic{
    margin: 0px 40px 0px;
}

article.first{
    display: inline-block;
    border: 5px solid #fff;
    width: 360px;
    height: 350px;
    border-radius: 25px; 
    padding: 20px;
    padding-bottom: 5px;
    margin-left: 50px;
    background-color: #a79962;
}
article.second{
    display: inline-block;
    border: 5px solid #fff;
    width: 400px;
    height: 290px;
    border-radius: 25px; 
    padding: 20px;
    padding-bottom: 5px;
    margin-left: 90px;
    background-color: #d8b83a;
}
article.third{
    display: inline-block;
    border: 5px solid #fff;
    width: 150px;
    height: 150px;
    border-radius: 25px; 
    padding: 5px 5px 8px;
    margin-left: 160px;
    background-color: #f04c31;
    position: absolute;
}


article p{
    margin: 10px 20px;
}

article p:first-child{
    margin-top: 25px;
}

#pics{
    margin-left: 100px;
    border: solid, 5px, #fff;
    display: inline-block;
}

.ant-pic{
    border: solid, 2px #fff;     
}

.ant-pic:hover{
    color: aquamarine;
}

.box{
    position:relative;
    display: inline-block;
    height: 400px;
    width: 45%;
    z-index: 1;
    left: 5%;
}

.center-image{
    text-align: center;
    top: 50%;
    left: 50%;
}

/*Control the black and blue ant */
.black-ant{
    background-color: #4c5054;
    margin-top: 50px;
}

.black-ant h2{
    color: white;
}

.black-ant p{
    color: white;
}

.blue-ant{
    background-color: #8fc2ff; 
    margin-top: 50px;
} 

/*Control the yellow and red ant*/
.yellow-ant{
    background-color:#ffcc66;
}

.red-ant{
    background-color:#ff6b72;
}

/*Control the green and white velvet ant*/

.green-ant{
    background-color: #90cfa2;
}

.white-ant{
    background-color: #cbd1d3;
}

/*Control the velvet red ant and gold ant*/
.velvet-red-ant{
    background-color: #f5b2be;
}

.gold-ant{
    background-color: #fff99b;
}

/*Control the emperor ant and the bomber ant*/
.emperor-ant{
    background-color: #b95fff;
}

.bomber-ant{
    background-color: #8dfaf1;
}

/*Text color inside pics*/

.text-color{
    color: #2f2f2f;
}

/*Contact*/
.address-box{
    width: 5%;
    border: dotted grey 2px;
    border-radius: 24px;
    margin: 70px auto 0;
    padding: 20px;
    background-color: #fdd80e;
    
    
}

.address-pic{
    left: 60%;
    right: 60%;
    text-align: center;
}

.address-pic img{
    width: 50%;
    
}

#address h3{
    color: #4d4d4d;
    text-align: center;
}

/*Tables*/
table, td, th{
    border: solid grey 1px;
    border-collapse: collapse;
    padding: 9px;
}

table{
    text-align: center;
    margin:  55px auto;
    padding: 20px;
}
td{
    width: 75%;
}
.price {
    width: 25%;
}

th{
    color: cornflowerblue;
}

/*Improvements*/

#improvements{
    margin: 70px 0px;
}

.ulep-pics-1{
    width: 50%;
}
.ulep-pics-2{
    width: 80%;
    margin-bottom: 65px;
}
.ulep-pics-3{
    width: 50%;
}


.ulep-box-1{
    color: #424242;
    text-align: center;
    font-size: 15px;
    height: 300px;
    border: solid 2px #424242;
    border-radius: 10px;
    display: inline-block;
    margin: 1px 1px 5px;
    background-color: #68D0FF;
}

.ulep-box-1 h1{
    color: #c7c7c7;
}
.ulep-box-1 h1:hover{
    background-color:  pink;
    color: crimson;
    border-radius: 10px; 
}
.ulep-box-2{
    text-align: center;
    color: #424242;
    font-size: 15px;
    border: solid 2px #424242;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    display: inline-block;
    margin: 1px 1px 5px;
    background-color: #B8E8FF;
}

.ulep-box-2 h1{
    color: #c7c7c7;
}
.ulep-box-2 h1:hover{
    background-color:  pink;
    color: crimson;
    border-radius: 10px;
}
.ulep-box-3{
    text-align: center;
    color: #424242;
    font-size: 15px;
    border: solid 2px #424242;
    border-radius: 10px;
    height: 450px;
    display: inline-block;
    margin: 1px 1px 5px;
    background-color: #36687F;
}
.ulep-box-3 h1{
    color: #c7c7c7;
}
.ulep-box-3 h1:hover{
    background-color:  pink;
    color: crimson;
    border-radius: 10px;
}



