﻿<! doctype html>


<head>

    <meta charset="utf-8"/>
    <title>Ulepszenia mrówek!</title>
    <link rel="shortcut icon" type="img/png" href="img/favicon/Untitled-5.png"/>    
    <link rel="stylesheet" type="text/css" href="Style.css"/>

</head>

<body>
    
    <div id="main-menu">
        <ul>
            <a href="index.html"><li class="inline-block">Fabryka Mrówek</li></a>
            <a href="Gatunki_mrowek.html" ><li class="inline-block">Gatunki naszych mrówek</li></a>
            <li class="inline-block-active">Ulepszenia mrówek</li>
            <a href="Skomponuj_swoja_mrowke.html"><li class="inline-block">Skomponuj swoją mrówkę</li></a>
            <a href="Cenniki.html" ><li class="inline-block">Cenniki</li></a>
            <a href="Kontakt.html"><li class="inline-block">Skontaktuj się z nami!</li></a>
        </ul>
    </div>
    
    <div id="improvements">
        <div class="ulep-box-3">
            <h2>Buty pancerne</h2>
            <img class="ulep-pics-3" src="img/uleszenia/shoes.png">
            <h1>9,28 zł</h1>
        </div>
        <div class="ulep-box-1">
            <h2>Szczękoczółki</h2>
            <img class="ulep-pics-1" src="img/uleszenia/szczekoczolki.png">
            <h1>10,11 zł</h1>
        </div>
        <div class="ulep-box-2">
            <h2>Kamizelka kuloodporna</h2>
            <img class="ulep-pics-2" src="img/uleszenia/kamizelka.png">
            <h1>7,37 zł</h1>
        </div>
        <div class="ulep-box-3">
            <h2>Działo laserowe</h2>
            <img class="ulep-pics-3" src="img/uleszenia/dzialo_laserowe.png">
            <h1>50,75 zł</h1>
        </div>    
        <div class="ulep-box-3">
            <h2>Lasery z oczu</h2>
            <img class="ulep-pics-3" src="img/uleszenia/lasery.png">
            <h1>40,28 zł</h1>
        </div>
        <div class="ulep-box-1">
            <h2>Dodatkowa para odnóży</h2>
            <img class="ulep-pics-1" src="img/uleszenia/para_odnozy.png">
            <h1>8,31 zł</h1>
        </div>
        
        <div class="ulep-box-3">
            <h2>Tytanowy pancerz</h2>
            <img class="ulep-pics-3" src="img/uleszenia/pancerz.png">
            <h1>25,89 zł</h1>
        </div>
        <div class="ulep-box-2">
            <h2>Hełm</h2>
            <img class="ulep-pics-2" src="img/uleszenia/helm.png">
            <h1>9,45 zł</h1>
        </div>
        <div class="ulep-box-1">
            <h2>Antena satelitarna</h2>
            <img class="ulep-pics-1" src="img/uleszenia/antena.png">
            <h1>13,21 zł</h1>
        </div>
       
        <div class="ulep-box-2">
            <h2>Modem 4G</h2>
            <img class="ulep-pics-2" src="img/uleszenia/4g.png">
            <h1>7,43 zł</h1>
        </div>
        <div class="ulep-box-2">
            <h2>Modem 5G</h2>
            <img class="ulep-pics-2" src="img/uleszenia/5g.png">
            <h1>25,34 zł</h1>
        </div>
        <div class="ulep-box-1">
            <h2>Śmigło</h2>
            <img class="ulep-pics-1" src="img/uleszenia/smiglo.png">
            <h1>6,30 zł</h1>
        </div>
         <div class="ulep-box-3">
            <h2>GPS/GLONASS</h2>
            <img class="ulep-pics-3" src="img/uleszenia/gps.png">
            <h1>3,90 zł</h1>
        </div>
    
    
    
    </div>
    
    


</body>